/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
*,*::before,*::after {
    box-sizing: border-box;
}
.homepage {	

	background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg),url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg);
  	background-repeat: no-repeat;
	background-size: auto, 532px, auto;
	background-position: -180px 500px,720px 100px, top right;
}

.header {
	max-width: 1088px;
	display: flex;
    align-items: center;	
	justify-content: space-between;
	height: 80px;

}
.logo img{
	max-width: 218px;
	/*padding-left: 142px;
	padding-top: 24px;
	padding-bottom: 24px;*/
}
.link_to_cost1 {
	padding-right: 139px;
	padding-top: 32px;
	align-items: center;
	

}
.link_to_cost1 a{
	background: #FF5D50;
	color: #FFFFFF;
	text-decoration: none;
	padding: 8px 32px;
	border-radius: 40px
}
.link_to_cost1 a:hover{
	background: rgb(27, 160, 138);
}
.h1 {
	color: #56C4C5;
	font-size: 18px;
	padding-top: 158px;
	padding-bottom: 8px;
	padding-left: 141px;
	font-weight: bold;
}
.p1	{
	color: #221E1F;
	width: 432px;
	font-size: 42px;
	font-weight: bold;
	padding-left: 141px;
	padding-bottom: 16px;
	word-break: keep-all;
	line-height: 1.5;
}
.p2 {
	color:#221E1F;
	padding-left: 141px;
	padding-bottom: 374px;

}
.social-media {
	max-width: 1088px;
	text-align: center;
	margin: 0 auto;	
	margin-bottom: 100px;
	flex-direction: column;
}
.social-media h1 {
	font-weight: bold;
	color:#221E1F;
	font-size: 32px;
	padding-bottom: calc(16px + 48px);
}
.media {
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.media_type {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    width: 244px;
}
.media img {
	max-width: 90px;	
	display:block;
	margin: 0 auto;
	padding-bottom: 24px;
}
.media h2 {
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 24px;
}
.media p{
	width:240px;
	font-size: 16px;	
	word-break: keep-all; 
	line-height: 1.5;
}
.service_for {
	display: flex;
	text-align: center;
	margin-bottom: 100px;
	flex-direction: column;
}
.service_for h1 {
	font-size: 32px;
	color:#221E1F;
	font-weight: bold;
	padding-bottom: 16px;
}
.service_for p {
	font-size: 20px;
	color: #221E1F;
	padding-bottom: 48px;
}
.service_charater {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
	gap:16px;
}
.service_charater_info {
	display: flex;
	max-width: 260px;
	border: 1px solid #00000014;
	border-radius: 12px;
	box-shadow: 0px 2px 10px #00000014;
	flex-direction: column;
}
.service_charater_info img {
	width: 260px;
	padding-bottom: 16px;
	border-radius: 12px;
}
.service_charater_info h2 {
	color: #56C4C5;
	font-size: 16px;
	padding-bottom: 16px;
	font-weight: bold;
}
.service_charater_info p {
	font-size: 16px;
	width: 228px;
	line-height: 1.5;
	padding: 16px 16px 24px 16px;
	word-break: keep-all;
}
.content {
	max-width: 1088px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;

}
.function {
	display: flex;
	flex-wrap: wrap;
	width: 507px;
    justify-content: space-between;
	margin-right: 137px;
	margin-bottom: 100px;
}
.function-detail {
	width: 230px;
	flex-direction: column;
	box-shadow: 0px 2px 10px #00000014;
	border-radius: 15px;
	box-shadow: 0px 2px 10px #00000014;
	margin-bottom: 28px;

}
.function img {
	border: 1px solid #00000014;
	box-shadow: 0px 2px 10px #00000014;
	border-radius: 86px;
	padding: 17px;
	margin-top: 49px;
	margin-left: 32px;
	margin-bottom: 41px;
}
.function li h1 {
	color:#221E1F;
	font-size: 18px;
	font-weight: bold;
	padding-left: 32px;
}
.function p {
	font-size: 16px;
	padding: 16px 32px 48px 32px;
	line-height: 1.5;
	word-break: keep-all;
}
.link_to_cost2 {
	max-width: 395px;
    flex-direction: column;
    justify-content: center;
}
.link_to_cost2 h2 {
	color:#221E1F;
	font-size: 32px;
	font-weight: bold;
	word-break: keep-all;
	line-height: 1.5;
	padding-bottom: 16px;
	padding-top: 165px;
}
.link_to_cost2 p {
	color: #221E1F;
	font-size: 18px;
	line-height: 1.5;
	padding-bottom: 24px;
}
.link_to_cost2 a {
	border: 1px solid #56C4C5;
	background: #56C4C5;
	color:#FFFFFF;
	text-decoration: none;
	border-radius: 49px;
	padding: 12px 32px;;
}
.link_to_cost2 a:hover{
	background: #FF5D50;
	border: 1px solid #FF5D50;
}
.feedback {
	max-width: 1088px;
	margin: 0 auto;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	margin-bottom: 100px;
}
.feedback h1 {
	color: #221E1F;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 104px;
}
.feedback_content {
	max-width: 1088px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16px;
	font-size: 16px;
	margin-bottom: 24px;
}
.feedback_box {
	max-width: 352px;
	padding: 48px 32px 24px 32px;
	box-shadow: 1px 5px 5px #00000014;
	border-radius: 12px;

}
.feedback_user {
	position: relative;
	top: -100px;

}
.feedback_user img{
	width: 80px;
	border-radius: 40px;
	position: absolute;
}
.feedback_p {
	max-width: 288px;
	color: #221E1F;
	line-height: 1.5;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(180, 176, 176, 0.856);
}
.feedback_company {
	font-weight: bold;
	color: #221E1F;
	padding-top: 24px;	
	padding-bottom: 8px;
}
.feedback_title_star {
	display: flex;
	justify-content: space-between;
}
.feedback_title {
	padding-bottom: 24px;
}
.feedback_star {
	width: 121px;
}
.more_feedback {
	width: 70px;
	display: flex;
	margin: 0 auto;
}
.page_dot {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #DDDDDD;
	margin-right: 8px;
}
.next_page {
	width: 16px;
	height: 10px;
	background: #FFD153;
	border-radius: 16px;
}
.footer {
	background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.footer h1 {
	color:#221E1F;
	font-size: 32px;
	text-align: center;
	font-weight: bold;
	padding-top: 360px;
	padding-bottom: 48px;
}
.link_to_cost3 {
  text-align: center;
	padding-bottom: 100px;
}

.link_to_cost3 a {
	text-decoration: none;
	padding: 12px 32px;
	color: #FFFFFF;
	background: #56C4C5;
	border-radius: 27px;

}
.link_to_cost3 a:hover{
	background: #FF5D50;
}

.footer_right {
	background: #F5F5F5;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
}


